*{
    margin: 0;
    padding: 0;
  }
  
  header{
    background-color: darkslategrey;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    text-align: center;
  }
  
  main{
    background-color: gray;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  footer{
    background-color: gray;
    height:20vh;
  }
  
  nav{
    height: 25%;
  }
  
  li{
    list-style-type: none;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
  }
  
  nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  nav li{
    width : 150px;
    border-bottom: white 1px solid;
  }

  main div {
    background-color: white;
    width: 500px;
}

  main div h1{
    font-size: 20px;
  }

  main div h3 {
    display: flex;
    justify-content: center;
  }


